* {
	padding: 0;
	margin: 0;
	font-family: 'Comic Neue', cursive;
	/*display: inline;*/
}
body {
	/*background: lightgrey;*/
	overflow-x: hidden;
}
.container {
	margin: 50px auto;
	text-align: center;	
	background: #EC9B3B;
	height: 410px;
	transition: 0.4s ease-in-out;
	width: 350px;
	box-shadow: -1px 15px 30px -12px black;
	border-radius: 25px;
}
.imageContent {
	margin-left: -50px;
	height: 250px;
	margin-bottom: 35px;
}

.textContent {
	overflow: hidden;
	border-radius: 0 0 25px 25px;
	background: white;
	height: 80px;
	transition: 0.4s ease-in-out;
	padding-top: 50px;

}

.skills {
	margin-top: 15px;
	font-size: 1.2rem;
}
.link{
	border-radius: 0 0 25px 25px;
	cursor: pointer;
	width: 330px;
	padding: 10px;
	letter-spacing: 2px;
	color: white;
}
.link:hover {
	background-color: #4BB543;
}
.link:hover a{
	color: white;
}
a{
	text-decoration: none;
}
#table {
	font-size: 0.8rem;
	width : 351px;
	text-align: center;
	table-layout: fixed;
	width: 100%;
}
#table td {
	padding: 15px;
}
#credits {
	position: static;
	bottom: 0;
	color: #f1f1f1;
	padding: 10px 0;
	width:100vw;
	margin:0;
	background: #929292;
	text-align: center;
}

.container:hover{
	height: 590px;
}

.container:hover .textContent{
	height: 267px;
}